body {
    background-size: cover;
    background-position: center;
}

h1 {
    color: white;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-color: white;
    color: blue;
    width: 200px;
    font-size: 20px;
    box-shadow: 5px 5px 5px grey;
}